@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap");
/*              Sass Template           */ /*  global classes  */
body {
  scroll-behavior: smooth;
}

main {
  max-width: 100vw;
  overflow: hidden;
}

.vh-100 {
  min-height: 100vh !important;
}

button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* typography classes */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

/* Color Template  */
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-second {
  color: #00a5c4;
}

.color-second-bg {
  background: #00a5c4;
}

.color-yellow {
  color: #ffd289;
}

.color-yellow-bg {
  background: #ffd289;
}

/*  navbar template   */
.navbar {
  background-color: #ffc107;
}
.nav-item,
.nav-link {
  color: #003859 !important;
}
.cart-nav-btn {
  background-color: #003859;
}
.logo-nav {
  width: 150px !important;
  max-width: 150px !important;
  height: auto;
}

.wow-art-span {
  margin-left: 10px;
  font-size: 30px;
}
.navbar-brand {
  padding: 0px;
  font-family: "Londrina Shadow", sans-serif;
  color: white;
}

/*  top sale template   */
#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

/*   Special Price Section Template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}
#special-price .container h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
#filters {
  justify-content: start !important;
  text-align: left !important;
}

#new-phones .container h4 {
  margin-top: 2rem;
}

#blogs .container h4 {
  margin-top: 2rem;
}

@media (max-width: 767px) {
  #special-price .grid .grid-item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-right: auto; /* Elimina el margen derecho */
    margin-left: auto; /* Agrega un margen izquierdo automático para centrar */
    width: 90%; /* Ajusta el ancho de las tarjetas para que ocupen el espacio disponible */
  }

  #special-price .grid .grid-item .item {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente el contenido dentro de la tarjeta */
    align-items: center; /* Centra horizontalmente el contenido dentro de la tarjeta */
    height: 100%; /* Establece una altura completa para asegurar el centrado vertical */
    padding: 0 10px; /* Añade un relleno a los lados del contenido para separarlo del borde de la tarjeta */
  }

  #special-price .grid .grid-item .product {
    justify-content: center;
    text-align: center;
    margin-right: auto; /* Elimina el margen derecho */
    margin-left: auto; /* Agrega un margen izquierdo automático para centrar */
  }
}
/* Register & Login Templates */

#register,
#login {
  min-height: 90vh;
  padding: 5% 0;
}

#reg-form input[type="text"],
#reg-form input[type="email"],
#reg-form input[type="password"] {
  border: none;
  border-radius: unset;
  border-bottom: 1px solid grey;
  font-size: 18px;
}

#reg-form input[type="text"],
#reg-form input[type="email"],
#reg-form input[type="password"] {
  outline: none;
  box-shadow: none;
}

/*# sourceMappingURL=style.css.map */

/* Admin panel menu */

.list-group-item {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.form-select,
.form-control {
  border: 1px solid #b3a1a1 !important;
  padding: 8px 10px;
}

input[type="file"] {
  background-color: transparent !important;
  padding: 0 !important;
}
.form-control .form-file {
  background-color: black;
}

.border-top {
  border-top: 1px solid black;
}

.status-label {
  font-weight: bold !important;
}
/*  Cart template  */
.quantity-buttons {
  min-width: 50px;
}

.qty_input {
  min-width: 30px;
  text-align: center;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

.update-qty {
  min-width: 30px;
}

.qty_stock {
  margin: 0px;
  padding: 0px;
  text-align: center;
  justify-content: center;
  width: 50px;
}

@media (max-width: 767px) {
  .del-cart-btn {
    margin-left: 25px;
  }
}
/* Footer */

.portfolio-link {
  color: white;
}
.portfolio-link:visited {
  color: white;
}

/* Banner */
#banner-area {
  max-height: 84vh;
}
.banner-img {
  max-height: 84vh;
}
